.page-content p img {
  max-width: 500px;
}

.gallery {
  text-align: center;
  overflow: hidden;
}

.gallery > a {
  padding: 5px;
  display: block;
  float: left;
}

.gallery > a > img {
  border: 4px solid #333;
}
